@tailwind base;
@tailwind components;
@tailwind utilities;


.swiper-pagination-bullet {
  width: 16px !important;
  height: 16px !important;
  background-color: #22d3ee;
  opacity: 0.6;
  transition: opacity 0.3s, background-color 0.3s;
}

.swiper-pagination-bullet-active {
  background-color: #0ea5e9 !important;
  opacity: 1;
  transform: scale(1.3);
}
